<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlAuthenticationProviders"
             type="Microsoft.Data.SqlClient.SqlAuthenticationProviderConfigurationSection, Microsoft.Data.SqlClient" />
  </configSections>
  <SqlAuthenticationProviders initializerType="TestInitializer, AuthenticationConfigurationTest">
    <providers>
      <add name="active directory interactive" type="TestProvider, AuthenticationConfigurationTest" />
    </providers>
  </SqlAuthenticationProviders>
</configuration>
