<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <!-- Clear all inherited feeds. -->
    <clear />

    <!--
      We do not use the public nuget.org feed.  Instead, we use a governed feed maintained by our
      SqlClientDrivers ADO organization.  Packages must be individually vetted and added to this
      feed manually before they will be available for consumption by our builds.

      https://sqlclientdrivers.visualstudio.com/public/_artifacts/feed/sqlclient
    -->
    <add key="governed" value="https://sqlclientdrivers.pkgs.visualstudio.com/public/_packaging/sqlclient/nuget/v3/index.json" />

  </packageSources>
</configuration>
