<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- We use a curated, vetted ADO feed for our dependencies. -->
    <add key="curated" value="https://sqlclientdrivers.pkgs.visualstudio.com/public/_packaging/sqlclient/nuget/v3/index.json" />
  </packageSources>
  <auditSources>
    <clear />

    <!-- There is no curated, vetted ADO feed for auditing, so we use the official source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
