<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <!-- Clear all default sources. -->
    <clear />
    
    <!-- Add local development packages. -->
    <add key="dev" value="packages/" />
    
    <!-- Add the internal ADO feed. -->
    <add key="sqlclient" value="https://sqlclientdrivers.pkgs.visualstudio.com/public/_packaging/sqlclient/nuget/v3/index.json" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
