#################################################################################
# Licensed to the .NET Foundation under one or more agreements.                 #
# The .NET Foundation licenses this file to you under the MIT license.          #
# See the LICENSE file in the project root for more information.                #
#################################################################################
parameters:

  # The assembly file version to apply to the Abstractions package.
  - name: abstractionsAssemblyFileVersion
    type: string

  # The version to apply to the Abstractions package.
  - name: abstractionsPackageVersion
    type: string

  # The assembly file version to apply to the Logging package.
  - name: loggingAssemblyFileVersion
    type: string

  # The version to apply to the Logging package.
  - name: loggingPackageVersion
    type: string

  # The assembly file version to apply to the Mds package.
  - name: mdsAssemblyFileVersion
    type: string

  # The version to apply to the Mds package.
  - name: mdsPackageVersion
    type: string

steps:
  # Download our signing key.
  - task: DownloadSecureFile@1
    displayName: 'Download Key Pair'
    inputs:
      secureFile: netfxKeypair.snk
    name: keyFile

  # Install the .NET SDK.
  - template: /eng/pipelines/steps/install-dotnet.yml@self

  - task: MSBuild@1
    displayName: 'BuildAllConfigurations using build.proj'
    inputs:
      solution: '**/build.proj'
      configuration: Release
      msbuildArguments: >-
        -t:BuildAllConfigurations
        -p:ReferenceType=Package
        -p:GenerateNuget=false
        -p:SigningKeyPath=$(keyFile.secureFilePath)
        -p:AssemblyFileVersion=${{ parameters.mdsAssemblyFileVersion }}
        -p:MdsPackageVersion=${{ parameters.mdsPackageVersion }}
        -p:AbstractionsPackageVersion=${{ parameters.abstractionsPackageVersion }}
        -p:AbstractionsAssemblyFileVersion=${{ parameters.abstractionsAssemblyFileVersion }}
        -p:LoggingPackageVersion=${{ parameters.loggingPackageVersion }}
        -p:LoggingAssemblyFileVersion=${{ parameters.loggingAssemblyFileVersion }}
