#################################################################################
# Licensed to the .NET Foundation under one or more agreements.                 #
# The .NET Foundation licenses this file to you under the MIT license.          #
# See the LICENSE file in the project root for more information.                #
#################################################################################
parameters:

  - name: abstractionsAssemblyFileVersion
    type: string

  - name: abstractionsPackageVersion
    type: string

  - name: mdsAssemblyFileVersion
    type: string

  - name: mdsPackageVersion
    type: string

steps:
  # Download our signing key.
  - task: DownloadSecureFile@1
    displayName: 'Download Key Pair'
    inputs:
      secureFile: netfxKeypair.snk
      retryCount: 5

  # Install the .NET SDK.
  - template: /eng/pipelines/steps/install-dotnet.yml@self

  # Configure NuGet to use the local packages/ directory where the Abstractions
  # package will be.
  - pwsh: New-Item -Path "$(packageFolderName)" -ItemType Directory -Force
    displayName: Create packages/ directory

  - pwsh: Copy-Item -Path "$(Build.SourcesDirectory)/NuGet.config.local" -Destination "$(Build.SourcesDirectory)/NuGet.config" -Force
    displayName: Use local NuGet packages

  - task: MSBuild@1
    displayName: 'BuildAllConfigurations using build.proj'
    inputs:
      solution: '**/build.proj'
      configuration: Release
      msbuildArguments: >-
        -t:BuildAllConfigurations
        -p:ReferenceType=Package
        -p:GenerateNuget=false
        -p:SigningKeyPath=$(Agent.TempDirectory)\netfxKeypair.snk
        -p:MdsAssemblyFileVersion=${{ parameters.mdsAssemblyFileVersion }}
        -p:MdsPackageVersion=${{ parameters.mdsPackageVersion }}
        -p:AssemblyFileVersion=${{ parameters.mdsAssemblyFileVersion }}
        -p:AbstractionsPackageVersion=${{ parameters.abstractionsPackageVersion }}
        -p:AbstractionsAssemblyFileVersion=${{ parameters.abstractionsAssemblyFileVersion }}
