#################################################################################
# Licensed to the .NET Foundation under one or more agreements.                 #
# The .NET Foundation licenses this file to you under the MIT license.          #
# See the LICENSE file in the project root for more information.                #
#################################################################################
parameters:
  # Debug.
  - name: debug
    type: boolean
    default: false

  # The SA password to set when configuring SQL Server.
  - name: saPassword
    type: string

  # TCP Connection String.
  - name: TCPConnectionString
    type: string
    default: ''

  # NP Connection String.
  - name: NPConnectionString
    type: string
    default: ''

  # TCP Connection String HGSVBS.
  - name: TCPConnectionStringHGSVBS
    type: string
    default: ''

  # TCP Connection String None VBS.
  - name: TCPConnectionStringNoneVBS
    type: string
    default: ''

  # TCP Connection String AASSGX.
  - name: TCPConnectionStringAASSGX
    type: string
    default: ''

  # Enclave Enabled.
  - name: EnclaveEnabled
    type: boolean
    default: false

  # Tracing Enabled.
  - name: TracingEnabled
    type: boolean
    default: false

  # AAD Authority URL.
  - name: AADAuthorityURL
    type: string
    default: ''

  # AAD Password Connection String.
  - name: AADPasswordConnectionString
    type: string
    default: ''

  # AAD Service Principal Id.
  - name: AADServicePrincipalId
    type: string
    default: ''

  # AAD Service Principal Secret.
  - name: AADServicePrincipalSecret
    type: string
    default: ''

  # Azure Key Vault Url.
  - name: AzureKeyVaultUrl
    type: string
    default: ''

  # Azure Key Vault Tenant Id.
  - name: AzureKeyVaultTenantId
    type: string
    default: ''

  # Use Managed SNI On Windows.
  - name: UseManagedSNIOnWindows
    type: boolean
    default: false

  # User Managed Identity Client Id.
  - name: UserManagedIdentityClientId
    type: string
    default: ''

  # File Stream Directory.
  - name: FileStreamDirectory
    type: string
    default: ''

  # Local Db App Name.
  - name: LocalDbAppName
    type: string
    default: ''

  # Local Db Shared Instance Name.
  - name: LocalDbSharedInstanceName
    type: string
    default: ''

  # Alias Name.
  - name: AliasName
    type: string
    default: ''

  # Supports Integrated Security.
  - name: SupportsIntegratedSecurity
    type: boolean
    default: false

  # Supports File Stream.
  - name: SupportsFileStream
    type: boolean
    default: false

  # DNS Caching Conn String.
  - name: DNSCachingConnString
    type: string
    default: ''

  # DNS Caching Server CR.
  - name: DNSCachingServerCR
    type: string
    default: ''

  # DNS Caching Server TR.
  - name: DNSCachingServerTR
    type: string
    default: ''

  # Enclave Azure Database Conn String.
  - name: EnclaveAzureDatabaseConnString
    type: string
    default: ''

  # Is DNS Caching Supported CR.
  - name: IsDNSCachingSupportedCR
    type: boolean
    default: false

  # Is DNS Caching Supported TR.
  - name: IsDNSCachingSupportedTR
    type: boolean
    default: false

  # Is Azure Synapse.
  - name: IsAzureSynapse
    type: boolean
    default: false

  # Managed Identity Supported.
  - name: ManagedIdentitySupported
    type: boolean
    default: true

  # Workload Identity Federation Service Connection Id.
  - name: WorkloadIdentityFederationServiceConnectionId
    type: string
    default: ''

steps:

  # Some of the connection strings brought in from Azure DevOps Library groups expect a runtime
  # $(Password) variable to exist.  This is used for username/password logins to SQL Servers running
  # locally on the agent.  We must set $(Password) here so it is available when those connection
  # strings are expanded.  We cannot use a Library variable because it will be deemed a secret, and
  # will not be available to forked repos.
  #
  # We use the saPassword parameter as the value for this variable.
  #
  # All subsequent steps in the current job will expand $(Password) with the saPassword parameter's
  # value.
  #
  - pwsh: |
      $password = "${{ parameters.saPassword }}"
      Write-Host "##vso[task.setvariable variable=Password;isSecret=true]$password"
    displayName: Set Connection String Password

  # All properties should be added here, and this template should be used for any manipulation of the config.json file.
  - pwsh: |
      $jdata = Get-Content -Raw "config.default.json" | ConvertFrom-Json
      foreach ($p in $jdata)
      {
          $p.TCPConnectionString="${{parameters.TCPConnectionString }}"

          $p.NPConnectionString="${{parameters.NPConnectionString }}"

          $p.AADAuthorityURL="${{parameters.AADAuthorityURL }}"

          $p.AADPasswordConnectionString="${{parameters.AADPasswordConnectionString }}"

          $p.AADServicePrincipalId="${{parameters.AADServicePrincipalId }}"

          $p.AADServicePrincipalSecret="${{parameters.AADServicePrincipalSecret }}"

          $p.AzureKeyVaultUrl="${{parameters.AzureKeyVaultUrl }}"

          $p.AzureKeyVaultTenantId="${{parameters.AzureKeyVaultTenantId }}"

          $p.UserManagedIdentityClientId="${{parameters.UserManagedIdentityClientId }}"

          $p.FileStreamDirectory="${{parameters.FileStreamDirectory }}"

          $p.LocalDbSharedInstanceName="${{parameters.LocalDbSharedInstanceName }}"

          $p.AliasName="${{parameters.AliasName }}"

          $p.EnclaveAzureDatabaseConnString="${{parameters.EnclaveAzureDatabaseConnString }}"

          $p.DNSCachingServerTR="${{parameters.DNSCachingServerTR }}"

          $p.DNSCachingServerCR="${{parameters.DNSCachingServerCR }}"

          $p.DNSCachingConnString="${{parameters.DNSCachingConnString }}"

          $p.SupportsFileStream="${{parameters.SupportsFileStream }}"

          $p.LocalDbAppName="${{parameters.LocalDbAppName }}"

          $p.TCPConnectionStringAASSGX="${{parameters.TCPConnectionStringAASSGX }}"

          $p.TCPConnectionStringNoneVBS="${{parameters.TCPConnectionStringNoneVBS }}"

          $p.TCPConnectionStringHGSVBS="${{parameters.TCPConnectionStringHGSVBS }}"

          $p.UseManagedSNIOnWindows=[System.Convert]::ToBoolean("${{parameters.UseManagedSNIOnWindows }}")
          $p.SupportsIntegratedSecurity=[System.Convert]::ToBoolean("${{parameters.SupportsIntegratedSecurity }}")
          $p.ManagedIdentitySupported=[System.Convert]::ToBoolean("${{parameters.ManagedIdentitySupported }}")
          $p.IsAzureSynapse=[System.Convert]::ToBoolean("${{parameters.IsAzureSynapse }}")
          $p.IsDNSCachingSupportedTR=[System.Convert]::ToBoolean("${{parameters.IsDNSCachingSupportedTR }}")
          $p.IsDNSCachingSupportedCR=[System.Convert]::ToBoolean("${{parameters.IsDNSCachingSupportedCR }}")
          $p.TracingEnabled=[System.Convert]::ToBoolean("${{parameters.TracingEnabled }}")
          $p.EnclaveEnabled=[System.Convert]::ToBoolean("${{parameters.EnclaveEnabled }}")
          $p.WorkloadIdentityFederationServiceConnectionId="${{parameters.WorkloadIdentityFederationServiceConnectionId }}"
      }
      $jdata | ConvertTo-Json | Set-Content "config.json"
    workingDirectory: src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities
    displayName: 'Update config.json'

  - ${{ if eq(parameters.debug, true) }}:
    - pwsh: |
        $jdata = Get-Content -Raw "config.json" | ConvertFrom-Json
        foreach ($p in $jdata)
        {
            foreach ($prop in $p.PSObject.Properties)
            {
                Write-Host "Property: $($prop.Name) Value: $($prop.Value)"
            }
        }
      workingDirectory: src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities
      displayName: '[Debug] Emit config.json'
