<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!--
      Add a local directory as a package source.  This lets us build against packages that haven't
      been published yet.
    -->
    <add key="local" value="packages/" />
  </packageSources>
</configuration>
