<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
      During development, the Abstractions package that MDS depends on may only
      be available locally.

      This directory must exist before MDS restore will succeed.  Building and
      packing the Abstractions package will create it.
    -->
    <add key="local" value="../../packages/" />
  </packageSources>
</configuration>
