<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
      During development or CI runs, the MDS package being tested may only be
      available locally.

      This directory must exist before dotnet restore will succeed.  Building
      and packing MDS will create it.
    -->
    <add key="local" value="../../../../packages/" />
  </packageSources>
</configuration>
