# editorconfig.org

# top-most EditorConfig file
root = false

[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = error
