<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dataStressSettings>
    <sources>
      <source
        name="WSL SQL 2025"
        type="SqlServer"
        isDefault="true"
        dataSource="127.0.0.1,1434"
        database="master"
        user="sa"
        password="Test2025"
        supportsWindowsAuthentication="false"
        isLocal="false"
        disableMultiSubnetFailover = "true"
        disableNamedPipes = "true"
        encrypt ="false"> 
      </source>
    </sources>
  </dataStressSettings>
</configuration>
