# editorconfig.org

# top-most EditorConfig file
root = false

[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

# SYSLIB0039: Type or member is obsolete
dotnet_diagnostic.SYSLIB0039.severity = suggestion
