--
-- Setup UdtTestDb and associated UDTS, tables and procedures.
--
PRINT N'============================================================================='
GO
PRINT N'Starting UdtTestDb Setup Script'
GO
PRINT N'============================================================================='
GO
SET NOCOUNT ON
print 'Creating UdtTestDb database.'

if  exists (select name from [master].[dbo].[sysdatabases] where name = N'UdtTestDb')
    drop database [UdtTestDb]
go
create database [UdtTestDb]
go

print 'Configuring UdtTestDb database...'

use UdtTestDb
go

EXEC sp_configure 'clr enabled', 1
    go
    RECONFIGURE
    go
EXEC sp_configure 'clr enabled'
    go
	
create assembly address from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300AB95E5E50000000000000000E00022200B013000001000000006000000000000E62F0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000912F00004F000000004000000803000000000000000000000000000000000000006000000C000000542E0000540000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000EC0F0000002000000010000000020000000000000000000000000000200000602E7273726300000008030000004000000004000000120000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001600000000000000000000000000004000004200000000000000000000000000000000C52F00000000000048000000020005002C240000280A00000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773020000060A2B00062A9A02280C00000A000002167D06000004027E0D00000A7D04000004027E0D00000A7D050000042A7A02280C00000A000002037D0400000402047D0500000402177D060000042A9A02280C00000A000002167D06000004027E0D00000A7D04000004027E0D00000A7D050000042A000000133002000F0000000200001100027B0600000416FE010A2B00062ADE0002036F0E00000A730F00000A7D0400000402036F0E00000A730F00000A7D050000040203176F1000000A16281100000A7D060000042AFE0003027C04000004FE16110000016F1200000A6F1300000A0003027C05000004FE16110000016F1200000A6F1300000A0003027B060000046F1400000A002A00133004008E0000000300001100036F1500000A130411042C200002167D06000004027E0D00000A7D04000004027E0D00000A7D050000042B60731600000A0A06036F1700000A6F1800000A0B188D180000010C178D1900000125161F7C9D0D07096F1900000A0C0208169A281A00000A7D0400000402088E691730077E0D00000A2B0808179A281A00000A7D0500000402177D060000042B002A000013300400C100000004000011000228050000060D092C1F00036F1500000A130411042C0538A300000000036F1B00000A003896000000027B050000048C110000012C0D027C05000004281C00000A2B0117130511052C09027B040000040A2B3900027B040000048C110000017201000070281D00000A281A00000A0A068C11000001027B050000048C11000001281D00000A281A00000A0A001200281E00000A0B160C2B1003086A0708916F1F00000A000817580C08078E69FE04130611062DE403086A6F2000000A002B002A000000133001002C00000005000011000228050000060A062C0872050000700B2B1702280E0000060C1202FE16110000016F1200000A0B2B00072A133004008100000006000011000F00281C00000A0D092C09280100000613042B690F00FE16110000016F1200000A0A188D180000010B188D1900000125161F7C9D25171F7C9D0C06086F1900000A0B078E6918FE01130511052C1907169A281A00000A07179A281A00000A730300000613042B1607169A281A00000A7E0D00000A730300000613042B0011042A000000133001000C0000000700001100027B040000040A2B00062A133001000C0000000700001100027B050000040A2B00062A133002004F0000000800001100027B060000040A062C3C00027C05000004281C00000A0B072C09027B040000040C2B29027B040000048C11000001027B050000048C11000001281D00000A281A00000A0C2B06732100000A7A082A0042534A4201000100000000000C00000076342E302E33303331390000000005006C000000CC030000237E0000380400000004000023537472696E6773000000003808000010000000235553004808000010000000234755494400000058080000D001000023426C6F620000000000000002000001571FA2010900000000FA013300160000010000001A00000002000000060000000E000000080000000200000021000000030000000B00000008000000010000000300000003000000010000000200000000005B020100000000000600540141030600A6014103060092002E030F00610300000600D900010206008D01AE0206003501AE020600F200AE0206000F01AE0206007401AE020600A600AE020A00CF030D030A00BD000D030600D6039D020A00480070030A00E0010D030A00260270030600DB0216000600F30216000A00A90370030600F101EF03060000039D020600F801EF0306003C029D020600D6029D020A00C0027003000000000D00000000000100010001201000C00300003900010001005680D401B30056804302B60056803A00B60001007A00200001006D00200001008902B60050200000000096086702B900010068200000000081182803390001008F200000000086182803BE000200AE20000000008618280306000400D82000000000E609760249000400F32000000000E6013500C60004002B2100000000E6018C00CC0005006C21000000008600B203D200060008220000000086009F03D2000700D82200000000C60030022800080010230000000096008600D8000800A0230000000086006000DF000900B8230000000086005200DF000900D023000000008608C401DF000900000001007002000001000100000002000700000001002C0300000100FB0300000100CE0100000100CE0100000100C60302003D0002004100090028030100110028030600190028030A0029002803100031002803100039002803100041002803100049002803100051002803100059002803100069002803150071002803060089008F02200091001B022800890028031000910085032C00B100A402320071003002280099008C00100099008C003900A10076024900A90028030600A100E8024D00B90039025200C100E90358008900DD035F00A10081020600890076024900C100C803710089008F034D00A10094027700A10051027D00D1002803060008000400AA0002000800AF0002000C00B1002E000B00F2002E001300FB002E001B001A012E00230023012E002B0071012E0033007E012E003B0089012E00430096012E004B0071012E005300710143005B00A1011B0024003E0065008200890095009A000200010000008F02E40000007A02E9000000C801ED0002000100030002000500050002000E000700048000000100000000000000000000000000C0030000040000000000000000000000A1002C0000000000040000000000000000000000A1002000000000000000006C696E6531006C696E6532003C4D6F64756C653E0053797374656D2E494F0053797374656D2E44617461006D73636F726C69620052656164004973427974654F72646572656400494E756C6C61626C65004765745365636F6E644C696E650047657446697273744C696E65006D5F7365636F6E646C696E65006D5F66697273746C696E650050617273650057726974650044656275676761626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C55736572446566696E656454797065417474726962757465005461726765744672616D65776F726B41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79496E666F726D6174696F6E616C56657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465006765745F56616C75650076616C7565004D61784279746553697A65004942696E61727953657269616C697A6500556E69636F6465456E636F64696E670053797374656D2E52756E74696D652E56657273696F6E696E670052656164537472696E670053716C537472696E6700546F537472696E6700476574537472696E6700497346697865644C656E677468005365744C656E67746800416464726573732E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C005365744E756C6C006D5F664E6F744E756C6C007365745F4974656D0053797374656D00546F426F6F6C65616E0053797374656D2E5265666C656374696F6E0053716C4E756C6C56616C7565457863657074696F6E00436861720042696E617279526561646572006765745F4275666665720042696E61727957726974657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C54797065730052656164427974657300476574556E69636F646542797465730046696C6C42797465730053716C42797465730046696C6C46726F6D4279746573004164647265737300436F6E63617400466F726D6174004F626A656374006F705F496D706C696369740053706C69740053797374656D2E5465787400770000000000037C0000094E0075006C006C000000469AD38592B4E84C82788CADD44E65C600042001010803200001052001011111042001010E052001011131040701120803061145030701020320000E0520011D0508060002021D050804200101020A070512550E1D0E1D0302032000020420001D050520010E1D050620011D0E1D0305000111450E0B070711451D0508020202020500020E1C1C052002010A05042001010A060703020E11450B07060E1D0E1D030212080204070111450607030202114508B77A5C561934E08904F4010000010001010206080206020400001208072002011145114505200101124905200101124D05200101125106000112081145042000114504080012080328000204280011450801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000004D01001C2E4E45544672616D65776F726B2C56657273696F6E3D76342E362E310100540E144672616D65776F726B446973706C61794E616D65142E4E4554204672616D65776F726B20342E362E310C0100074164647265737300000A010005446562756700000C010007312E302E302E3000000A010005312E302E3000002B010002000000020054020D4973427974654F7264657265640054080B4D61784279746553697A65F401000000000000000000CFBA728600014D5002000000C2000000A82E0000A810000000000000000000000100000013000000270000006A2F00006A11000000000000000000000000000010000000000000000000000000000000525344538CA8F3FB1FD770468BBC8F6A40BA3C9301000000443A5C646F744E6574436F72655C66656174757265735C53716C436C69656E744F4F425C4D6963726F736F66742E446174612E53716C436C69656E742E762D6B6573696E5C7372635C4D6963726F736F66742E446174612E53716C436C69656E745C74657374735C4D616E75616C54657374735C53514C5C556474546573745C554454735C416464726573735C6F626A5C44656275675C6E65743436315C416464726573732E70646200534841323536008CA8F3FB1FD770C68BBC8F6A40BA3C93CFBA72865B4EE8371FC5E2C15F97AB2EB92F00000000000000000000D32F0000002000000000000000000000000000000000000000000000C52F0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000AC0200000000000000000000AC0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B0040C020000010053007400720069006E006700460069006C00650049006E0066006F000000E8010000010030003000300030003000340062003000000030000800010043006F006D00700061006E0079004E0061006D0065000000000041006400640072006500730073000000380008000100460069006C0065004400650073006300720069007000740069006F006E000000000041006400640072006500730073000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000038000C00010049006E007400650072006E0061006C004E0061006D006500000041006400640072006500730073002E0064006C006C0000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000040000C0001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000041006400640072006500730073002E0064006C006C000000300008000100500072006F0064007500630074004E0061006D0065000000000041006400640072006500730073000000300006000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000E83F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go
create assembly circle from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103005273CCED0000000000000000E00022200B0130000018000000060000000000009A36000000200000004000000000001000200000000200000400000000000000060000000000000000800000000200004BB10000030060850000100000100000000010000010000000000000100000000000000000000000473600004F000000004000000803000000000000000000000000000000000000006000000C0000000C350000540000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000A0160000002000000018000000020000000000000000000000000000200000602E72737263000000080300000040000000040000001A0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001E000000000000000000000000000040000042000000000000000000000000000000007B360000000000004800000002000500D8260000B40D0000090000000000000000000000000000008C340000800000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773050000060A2B00062AE6000273100000067D01000004027B01000004036F0E0000060002036F0C00000A7D020000040203176F0D00000A16280E00000A7D030000042AA600027B01000004036F0F0000060003027B020000046F0F00000A0003027B030000046F1000000A002A1330020043000000000000000273100000067D0100000402167D0300000402281100000A0000027B01000004166F1A00000600027B01000004166F1C0000060002167D0200000402167D030000042A8A0273100000067D0100000402167D0300000402281100000A000002177D030000042A0000133001000C0000000200001100027B030000040A2B00062A13300300680000000300001100036F1200000A0B072C0A0002177D030000042B52036F1300000A1F0C6AFE0116FE010C082C06731400000A7A036F1500000A0A027B010000040616281600000A6F1A00000600027B01000004061A281600000A6F1C0000060002061E281600000A7D020000042A13300400A20000000400001100027B030000040D092C1C00036F1200000A130411042C05388400000000036F1700000A002B7A1F0C8D180000010A027B010000046F19000006281800000A0B0706166F1900000A00027B010000046F1B000006281800000A0B07061A6F1900000A00027B02000004281800000A0B07061E6F1900000A00160C2B1003086A0608916F1A00000A000817580C08068E69FE04130511052DE403086A6F1B00000A002A0000133005006E00000005000011000F00281C00000A178D1A00000125161F2C9D6F1D00000A0A068E6919FE0116FE010C082C06731400000A7A73040000060B077B0100000406169A281E00000A6F1A00000600077B0100000406179A281E00000A6F1C000006000706189A281E00000A7D02000004070D2B00092A000013300200420000000600001100731F00000A0A06027B010000046F2000000A6F2100000A260672010000706F2100000A2606027C02000004282200000A6F2100000A26066F2000000A0B2B00072A0000133001000C0000000700001100027B010000040A2B00062A133001000C0000000800001100027B020000040A2B00062A133001000C00000007000011001773110000060A2B00062AB60002036F0C00000A7D0700000402036F0C00000A7D080000040203176F0D00000A16280E00000A7D090000042AA60003027B070000046F0F00000A0003027B080000046F0F00000A0003027B090000046F1000000A002A9602167D0900000402281100000A000002167D0700000402167D0800000402167D090000042A5E02167D0900000402281100000A000002177D090000042A9602167D0900000402281100000A000002037D0700000402047D0800000402167D090000042A133001000C0000000200001100027B090000040A2B00062A13300300300000000200001100038E691F09FE0116FE010A062C06731400000A7A020316281600000A7D0700000402031A281600000A7D080000042A133002002E0000000900001100036F1200000A0B072C0A0002177D090000042B18036F1500000A0A020628140000060002167D090000042B002A000013300400820000000400001100027B090000040D092C1900036F1200000A130411042C022B6700036F1700000A002B5D1F098D180000010A027B07000004281800000A0B0706166F1900000A00027B08000004281800000A0B07061A6F1900000A00160C2B1003086A0608916F1A00000A000817580C08068E69FE04130511052DE403086A6F1B00000A002B002A0000133005004C0000000A000011000F00281C00000A178D1A00000125161F2C9D6F1D00000A0A068E6918FE0116FE010D092C06731400000A7A06169A281E00000A0B06179A281E00000A0C0708731200000613042B0011042A13300200380000000600001100731F00000A0A06027B070000046F2300000A260672010000706F2100000A2606027B080000046F2300000A26066F2000000A0B2B00072A133001000C0000000800001100027B070000040A2B00062A260002037D070000042A0000133001000C0000000800001100027B080000040A2B00062A260002037D080000042A0000133003000E0000000B00001100021616281F0000060A2B00062A000013300300180000000B0000110002037B07000004037B08000004281F0000060A2B00062A133003003A0000000B0000110003027B07000004596C230000000000000040282400000A04027B08000004596C230000000000000040282400000A58282500000A0A2B00062A000042534A4201000100000000000C00000076342E302E33303331390000000005006C000000DC050000237E0000480600005804000023537472696E677300000000A00A00000800000023555300A80A0000100000002347554944000000B80A0000FC02000023426C6F620000000000000002000001571FA2010900000000FA013300160000010000001D000000030000000D0000001F000000140000000400000025000000070000000C0000000B00000002000000080000000A000000010000000200000000009202010000000000060074019F030600C6019F030600B2008C030F00BF0300000600F90027020600AD01F40206005501F40206001201F40206002F01F40206009401F4020600C600F4020A0022046B030A00DD006B0306002904D0020A009500CE030A0016026B0306002403230006003F0323000A00F703CE030A004102CE03060031033B0406005E03D00206000603D0020600E401D00206004E04D00206001F03D00206004D02D00206001400D00206005402D002000000001A000000000001000100012010009F0000003900010001000120100001000000390007000D00010057038A01010073008E010100B702910156800A028E0156806402910156807700910101004C048E01010055048E010100B702910156800A028E015680640291015680770091015680F3018E0150200000000096089D0294010100682000000000E6016E0099010100A22000000000E601AC009F010200CC200000000086188603060003001B21000000008618860331000300402100000000E609AC024100040058210000000086000004A5010400CC21000000008600ED03A50105007C22000000009600A600AB010600F82200000000C6004B028200070048230000000086084C03B2010700602300000000860817042000070078230000000096089D02B7010700902300000000E6016E0099010700BE2300000000E601AC009F010800E8230000000086188603060009000E2400000000861886033100090026240000000086188603BC010A004C2400000000E609AC0241000C0064240000000086007C02C2010C00A0240000000086000004A5010D00DC24000000008600ED03A5010E006C25000000009600A600C8010F00C42500000000C6004B028200100008260000000086082D002000100020260000000086083300010010002C2600000000860848002000110044260000000086084E000100110050260000000086008C00CF0112006C26000000008600D702D301120090260000000086003900D9011300000001008A0300000100490400000100A602000001006000000001006000000001006000000001008A0300000100490400000100A602000001004B0400000200540400000100600000000100040200000100040200000100600000000100040200000100040200000100E402000001004B0400000200540402003D000200410003003D0003004100090086030100110086030600190086030A002900860310003100860310003900860310004100860310004900860310005100860310005900860310006900860315008900080020008900E3032400B100EA022A009100AC0001009100AC0031007100860306009900AC024100990059024500B900860306009900E9014900B10012004E009900BF020600B1000E046000C900180366009900C7026D00990072027300A100E9018200D90030048600E100A6008D00A9008603060071004B028200A90085009800E1004B028200A9008500B700E9004704C100E9003604C700080010007701020014007C01020018007E0108002800800102002C007C01020030007E010800340085012E000B00F6012E001300FF012E001B001E022E00230027022E002B0075022E00330081022E003B008C022E00430099022E004B0075022E005300750243005B00A40263005B00D0021B0036003A005500780092009E00A300A700AD00BD0002000100030005000000C202DF010000B802E40100005003E80100001B04ED010000C202F1010000B802E40100003700ED0100005200ED0102000100030002000600050002000B00070002000C00090002000D000B00020013000D00020019000F0001001A000F0002001B00110001001C00110004800000010000000000000001000000D5009F000000040000000000000000000000CC00650000000000040000000000000000000000CC00540000000000000000506F696E74310052656164496E74333200546F496E743332003C4D6F64756C653E0053797374656D2E494F006765745F58007365745F580044697374616E636546726F6D5859006765745F59007365745F590053797374656D2E446174610064617461006D73636F726C6962005265616400726164004973427974654F72646572656400417070656E640044697374616E636500494E756C6C61626C6500436972636C650050617273650057726974650044656275676761626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C55736572446566696E656454797065417474726962757465005461726765744672616D65776F726B41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79496E666F726D6174696F6E616C56657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465006765745F56616C7565004D61784279746553697A6556616C75650076616C7565004D61784279746553697A65004942696E61727953657269616C697A650053797374656D2E52756E74696D652E56657273696F6E696E670053716C537472696E6700546F537472696E67004D617468006765745F4C656E67746800497346697865644C656E677468005365744C656E6774680046696C6C46726F6D4279746573496E7465726E616C00436972636C652E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C006649734E756C6C005365744E756C6C007365745F4974656D0053797374656D0044697374616E636546726F6D007046726F6D00546F426F6F6C65616E0053797374656D2E5265666C656374696F6E00417267756D656E74457863657074696F6E00436F7079546F00436861720042696E61727952656164657200537472696E674275696C6465720042696E617279577269746572006765745F43656E7465720063656E74657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C5479706573005265616442797465730046696C6C42797465730053716C42797465730046696C6C46726F6D4279746573004765744279746573006765745F52616469757300466F726D6174004F626A6563740053706C697400537172740053797374656D2E5465787400506F77006978004172726179006979000000032C0000000000124159FEE2996341A86978136629B60400042001010803200001052001011111042001010E0520010111310407011208032000080520011D0508060002021D05080420010102030701020607031D050202032000020320000A0420001D05060002081D05080A07061D051D05080202020500011D050806200201126508052002010A05042001010A0907041D0E12080212080320000E0620011D0E1D03040001080E05070212550E05200112550E040701120C030701080507021D05020907051D0E080802120C0520011255080307010D0500020D0D0D0400010D0D08B77A5C561934E08980A00024000004800000940000000602000000240000525341310004000001000100D53BC003AA4EC1362DD865943C2BDA9248B4DBDBA71FDA1DB7A86FFE31D61F4B94A1FB9AEC1437AF84DFA9FDEA0706D2E5C33D89F3F03A21945572F03B342723EC5FF46A7983AAC1C59DC6BE6761E8DF2775E0A8F3F5A2FE59D748A29C2FDC4EDA687F2599DDFC5AB4E8E96773CEE70943EAC4508304F94DE9290D455886B8AB041E000000010101000409000000040C0000000306120C020608020602040000120805200101124505200101124905200101124D06000112081151042000120C040000120C052002010808052001011D05060001120C11510320000D0520010D120C0520020D0808040800120803280002042800120C03280008040800120C0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000004D01001C2E4E45544672616D65776F726B2C56657273696F6E3D76342E362E310100540E144672616D65776F726B446973706C61794E616D65142E4E4554204672616D65776F726B20342E362E310B010006436972636C6500000A010005446562756700000C010007312E302E302E3000000A010005312E302E3000002B010002000000020054020D4973427974654F7264657265640054080B4D61784279746553697A651E0000002B010002000000020054020D4973427974654F7264657265640154080B4D61784279746553697A6509000000BBBF1FDC7AA4EAC8C297F9EF28567656B08909B588748419B938D63A38817F9A0DB4341D6EF2AE78E4554EBD32E99713FA47003FBABC0B7F5F25564E684489E22264A72D51034F8DD980B228D912A95A11120BF8C70036179E914DAC993CF36AD47573226C06ECC24A3FD5F3292EBB6697737EADC892A55D0F1A3F5A45AB6306000000008C162CEA00014D5002000000C0000000603500006017000000000000000000000100000013000000270000002036000020180000000000000000000000000000100000000000000000000000000000005253445327AB6B6131B81C44A13E3AF3DD33CE2001000000443A5C646F744E6574436F72655C66656174757265735C53716C436C69656E744F4F425C4D6963726F736F66742E446174612E53716C436C69656E742E762D6B6573696E5C7372635C4D6963726F736F66742E446174612E53716C436C69656E745C74657374735C4D616E75616C54657374735C53514C5C556474546573745C554454735C436972636C655C6F626A5C44656275675C6E65743436315C436972636C652E706462005348413235360027AB6B6131B81C14213E3AF3DD33CE208C162C6A7584425316C6BA3434B612226F3600000000000000000000893600000020000000000000000000000000000000000000000000007B360000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C000000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000AC0200000000000000000000AC0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B0040C020000010053007400720069006E006700460069006C00650049006E0066006F000000E801000001003000300030003000300034006200300000002E000700010043006F006D00700061006E0079004E0061006D0065000000000043006900720063006C00650000000000360007000100460069006C0065004400650073006300720069007000740069006F006E000000000043006900720063006C00650000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000036000B00010049006E007400650072006E0061006C004E0061006D006500000043006900720063006C0065002E0064006C006C00000000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000003E000B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000043006900720063006C0065002E0064006C006C00000000002E0007000100500072006F0064007500630074004E0061006D0065000000000043006900720063006C00650000000000300006000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C0000009C3600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go
create assembly shapes from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103004A18E78A0000000000000000E00022200B013000001A00000006000000000000023800000020000000400000000000100020000000020000040000000000000006000000000000000080000000020000137F0000030060850000100000100000000010000010000000000000100000000000000000000000AF3700004F000000004000000803000000000000000000000000000000000000006000000C00000074360000540000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000000818000000200000001A000000020000000000000000000000000000200000602E72737263000000080300000040000000040000001C0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000002000000000000000000000000000004000004200000000000000000000000000000000E337000000000000480000000200050010280000E40D000009000000000000000000000000000000F4350000800000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773030000060A2B00062A1330060060000000020000110273120000067D010000040273120000067D0200000402167D0300000402280C00000A0000027B01000004027B01000004027B02000004027B0200000416250C6F1E0000060008250B6F1C0000060007250A6F1E00000600066F1C000006002AB60273120000067D010000040273120000067D0200000402167D0300000402280C00000A000002177D030000042A0000133002006E000000000000000273120000067D010000040273120000067D0200000402167D0300000402280C00000A0000027B01000004036F1B0000066F1C00000600027B01000004036F1D0000066F1E00000600027B02000004046F1B0000066F1C00000600027B02000004046F1D0000066F1E000006002A0000133001000C0000000300001100027B030000040A2B00062A133003004500000000000000000273120000067D01000004027B01000004036F10000006000273120000067D02000004027B02000004036F10000006000203176F0D00000A16280E00000A7D030000042AA600027B01000004036F1100000600027B02000004036F110000060003027B030000046F0F00000A002A0013300300820000000400001100036F1000000A0B072C0A0002177D030000042B6C036F1100000A1F106AFE0116FE010C082C06731200000A7A036F1300000A0A027B010000040616281400000A6F1C00000600027B01000004061A281400000A6F1E00000600027B02000004061E281400000A6F1C00000600027B02000004061F0C281400000A6F1E000006002A000013300400C50000000500001100027B030000040D092C1F00036F1000000A130411042C0538A700000000036F1500000A00389A0000001F108D180000010A027B010000046F1B000006281600000A0B0706166F1700000A00027B010000046F1D000006281600000A0B07061A6F1700000A00027B020000046F1B000006281600000A0B07061E6F1700000A00027B020000046F1D000006281600000A0B07061F0C6F1700000A00160C2B1003086A0608916F1800000A000817580C08068E69FE04130511052DE403086A6F1900000A002A000000133005008800000006000011000F00281A00000A178D1A00000125161F2C9D6F1B00000A0A068E691AFE0116FE010C082C06731200000A7A73020000060B077B0100000406169A281C00000A6F1C00000600077B0100000406179A281C00000A6F1E00000600077B0200000406189A281C00000A6F1C00000600077B0200000406199A281C00000A6F1E00000600070D2B00092A13300200420000000700001100731D00000A0A06027B010000046F1E00000A6F1F00000A260672010000706F1F00000A2606027B020000046F1E00000A6F1F00000A26066F1E00000A0B2B00072A000013300200170000000800001100027B02000004027B010000046F200000060A2B00062A00133001000C0000000900001100027B010000040A2B00062A133001000C0000000900001100027B020000040A2B00062A133001000C00000009000011001773130000060A2B00062AB60002036F2000000A7D0700000402036F2000000A7D080000040203176F0D00000A16280E00000A7D090000042AA60003027B070000046F2100000A0003027B080000046F2100000A0003027B090000046F0F00000A002A9602167D0900000402280C00000A000002167D0700000402167D0800000402167D090000042A5E02167D0900000402280C00000A000002177D090000042A9602167D0900000402280C00000A000002037D0700000402047D0800000402167D090000042A133001000C0000000300001100027B090000040A2B00062A13300300300000000300001100038E691F09FE0116FE010A062C06731200000A7A020316281400000A7D0700000402031A281400000A7D080000042A133002002E0000000A00001100036F1000000A0B072C0A0002177D090000042B18036F1300000A0A020628160000060002167D090000042B002A000013300400820000000500001100027B090000040D092C1900036F1000000A130411042C022B6700036F1500000A002B5D1F098D180000010A027B07000004281600000A0B0706166F1700000A00027B08000004281600000A0B07061A6F1700000A00160C2B1003086A0608916F1800000A000817580C08068E69FE04130511052DE403086A6F1900000A002B002A0000133005004C0000000B000011000F00281A00000A178D1A00000125161F2C9D6F1B00000A0A068E6918FE0116FE010D092C06731200000A7A06169A281C00000A0B06179A281C00000A0C0708731400000613042B0011042A13300200380000000700001100731D00000A0A06027B070000046F2200000A260672010000706F1F00000A2606027B080000046F2200000A26066F1E00000A0B2B00072A133001000C0000000C00001100027B070000040A2B00062A260002037D070000042A0000133001000C0000000C00001100027B080000040A2B00062A260002037D080000042A0000133003000E000000080000110002161628210000060A2B00062A00001330030018000000080000110002037B07000004037B0800000428210000060A2B00062A133003003A000000080000110003027B07000004596C230000000000000040282300000A04027B08000004596C230000000000000040282300000A58282400000A0A2B00062A000042534A4201000100000000000C00000076342E302E33303331390000000005006C00000000060000237E00006C0600005404000023537472696E677300000000C00A00000800000023555300C80A0000100000002347554944000000D80A00000C03000023426C6F620000000000000002000001571FA2010900000000FA013300160000010000001D000000030000000D00000021000000160000000400000024000000070000000C0000000C00000002000000080000000A000000010000000200000000008D0201000000000006006F0188030600C10188030600AD0075030F00A80300000600F40022020600A801EF0206005001EF0206000D01EF0206002A01EF0206008F01EF020600C100EF020A00070454030A00D800540306000E04CB020A009200BE030A001102540306001F031C0006003A031C000A00E703BE030A003C02BE0306002C03360406004703CB0206000103CB020600DF01CB0206004904CB0206001A03CB0206004802CB0206000D00CB0206004F02CB020000000013000000000001000100012010009C000000390001000100012010001B040000390007000F0001002B0490010100850090010100B202940156800502970156805F02940156806C0094010100470497010100500497010100B202940156800502970156805F02940156806C0094015680EE019701502000000000960898029A01010068200000000086186F0306000100D4200000000086186F033700010004210000000086186F039F010200802100000000E609A70243000400982100000000E6016700A7010400E92100000000E601A700AD0105001422000000008600F003B3010600A422000000008600DD03B30107007823000000009600A100B90108000C2400000000C6004602840009005C240000000086007002C001090080240000000086082104C401090098240000000086087A00C4010900B0240000000096089802C9010900C82400000000E6016700A7010900F62400000000E601A700AD010A0020250000000086186F0306000B0046250000000086186F0337000B005E250000000086186F03CE010C00842500000000E609A70243000E009C250000000086007702D4010E00D825000000008600F003B3010F001426000000008600DD03B3011000A426000000009600A100DA011100FC2600000000C60046028400120040270000000086082600A900120058270000000086082C000100120064270000000086084100A90013007C2700000000860847000100130088270000000086008900C0011400A427000000008600D202E1011400C8270000000086003200E701150000000100A102000001004604000002004F0400000100730300000100440400000100590000000100590000000100590000000100730300000100440400000100A102000001004604000002004F0400000100590000000100FF0100000100FF0100000100590000000100FF0100000100FF0100000100DF02000001004604000002004F0402003D000200410003003D000300410009006F03010011006F03060019006F030A0029006F03100031006F03100039006F03100041006F03100049006F03100051006F03100059006F03100069006F03150071006F0306008900D3032A00B100E50230009100A70037009900A7024300990054024700B9006F0306009900E4014B00B1000B0050009900BA020600B100FE036200C900130368009900C2026F0099006D027500A100E4018400D90015048800E100A1008F00A9006F030600710046028400A90082009A0089000100A9009100A7000100A9008200BD00E9004204C700E9003104CD00080010007D0102001400820102001800840108002800860102002C008201020030008401080034008B012E000B0004022E0013000D022E001B002C022E00230035022E002B0083022E0033008F022E003B009A022E004300A7022E004B0083022E005300830243005B00B20263005B00DE021B00200026003C0057007A009400A000A400AD00B300C30002000100030005000000BD02ED010000B302F20100002504F60100007E00F6010000BD02FB010000B302F20100003000000200004B00000202000100030002000500050002000D00070002000E00090002000F000B00020015000D0002001B000F0001001C000F0002001D00110001001E00110004800000010000000000000001000000DB00B7030000040000000000000000000000D2005E0000000000040000000000000000000000D2004D000000000000000052656164496E74333200546F496E743332003C4D6F64756C653E0053797374656D2E494F006765745F58007365745F580044697374616E636546726F6D5859006765745F59007365745F590053797374656D2E446174610064617461006D73636F726C69620052656164004973427974654F726465726564006765745F456E6400417070656E640044697374616E636500494E756C6C61626C65004C696E650050617273650057726974650044656275676761626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C55736572446566696E656454797065417474726962757465005461726765744672616D65776F726B41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79496E666F726D6174696F6E616C56657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465006765745F56616C7565004D61784279746553697A6556616C75650076616C7565004D61784279746553697A65004942696E61727953657269616C697A650053797374656D2E52756E74696D652E56657273696F6E696E670053716C537472696E6700546F537472696E67004D617468006765745F4C656E67746800497346697865644C656E677468005365744C656E6774680046696C6C46726F6D4279746573496E7465726E616C005368617065732E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C006649734E756C6C005365744E756C6C007365745F4974656D0053797374656D0044697374616E636546726F6D007046726F6D00546F426F6F6C65616E0053797374656D2E5265666C656374696F6E00417267756D656E74457863657074696F6E00436F7079546F00436861720042696E61727952656164657200537472696E674275696C6465720042696E61727957726974657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F646573005368617065730053797374656D2E446174612E53716C5479706573005265616442797465730046696C6C42797465730053716C42797465730046696C6C46726F6D427974657300476574427974657300466F726D6174004F626A6563740053706C697400506F696E74006765745F537461727400737461727400537172740053797374656D2E5465787400506F7700697800417272617900697900000000032C000000000076BD1537D321D043A77BBF30383CFC5A00042001010803200001052001011111042001010E0520010111310407011208050703080808030701020520011D0508060002021D050804200101020607031D050202032000020320000A0420001D05060002081D05080A07061D051D05080202020500011D050806200201126508052002010A05042001010A0907041D0E12080212080320000E0620011D0E1D03040001080E05070212550E05200112550E0307010D040701120C032000080507021D05020907051D0E080802120C052001125508030701080500020D0D0D0400010D0D08B77A5C561934E08980A00024000004800000940000000602000000240000525341310004000001000100D53BC003AA4EC1362DD865943C2BDA9248B4DBDBA71FDA1DB7A86FFE31D61F4B94A1FB9AEC1437AF84DFA9FDEA0706D2E5C33D89F3F03A21945572F03B342723EC5FF46A7983AAC1C59DC6BE6761E8DF2775E0A8F3F5A2FE59D748A29C2FDC4EDA687F2599DDFC5AB4E8E96773CEE70943EAC4508304F94DE9290D455886B8AB0414000000010101000409000000040C0000000306120C020602020608040000120807200201120C120C05200101124505200101124905200101124D060001120811510320000D042000120C040000120C052002010808052001011D05060001120C11510520010D120C0520020D0808040800120803280002042800120C040800120C032800080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000004D01001C2E4E45544672616D65776F726B2C56657273696F6E3D76342E362E310100540E144672616D65776F726B446973706C61794E616D65142E4E4554204672616D65776F726B20342E362E310B01000653686170657300000A010005446562756700000C010007312E302E302E3000000A010005312E302E3000002B010002000000020054020D4973427974654F7264657265640054080B4D61784279746553697A65140000002B010002000000020054020D4973427974654F7264657265640154080B4D61784279746553697A650900000000008DC7D9376FB816860CB157B6FD94B6DF2E76CE7FB7A2565559F6CC8B56215B082A96991C7FC97431ACE49D0DA30D2AC3043450A495BD05B9159C90A56332531F5491538D45858D2851B5089E1166730F891B09719A557B293D897DEFB3AB2BFAE68EB80415876CF63703B9C229966397AEB5A5979F15A66A7842DA6374FA201600000000091686E600014D5002000000C0000000C8360000C818000000000000000000000100000013000000270000008837000088190000000000000000000000000000100000000000000000000000000000005253445362557DEFA4D4424BBA4F836CD272E44801000000443A5C646F744E6574436F72655C66656174757265735C53716C436C69656E744F4F425C4D6963726F736F66742E446174612E53716C436C69656E742E762D6B6573696E5C7372635C4D6963726F736F66742E446174612E53716C436C69656E745C74657374735C4D616E75616C54657374735C53514C5C556474546573745C554454735C5368617065735C6F626A5C44656275675C6E65743436315C5368617065732E706462005348413235360062557DEFA4D442FB7A4F836CD272E44809168666C85F6F0AFF47CC1460D1531DD73700000000000000000000F1370000002000000000000000000000000000000000000000000000E3370000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C000000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000AC0200000000000000000000AC0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B0040C020000010053007400720069006E006700460069006C00650049006E0066006F000000E801000001003000300030003000300034006200300000002E000700010043006F006D00700061006E0079004E0061006D0065000000000053006800610070006500730000000000360007000100460069006C0065004400650073006300720069007000740069006F006E000000000053006800610070006500730000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000036000B00010049006E007400650072006E0061006C004E0061006D00650000005300680061007000650073002E0064006C006C00000000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000003E000B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000005300680061007000650073002E0064006C006C00000000002E0007000100500072006F0064007500630074004E0061006D0065000000000053006800610070006500730000000000300006000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C000000043800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go
create assembly weakpoint from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103001035305A0000000000000000E00022200B013000000C000000060000000000000A2B0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000B82A00004F00000000400000A802000000000000000000000000000000000000006000000C0000002C2A00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000100B000000200000000C000000020000000000000000000000000000200000602E72737263000000A80200000040000000040000000E0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001200000000000000000000000000004000004200000000000000000000000000000000EC2A0000000000004800000002000500A8220000840700000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773060000060A2B00062A133001000C0000000200001100027B030000040A2B00062AB60002036F0500000A7D0100000402036F0500000A7D020000040203176F0600000A16280700000A7D030000042AA60003027B010000046F0800000A0003027B020000046F0800000A0003027B030000046F0900000A002A9602167D0300000402280A00000A000002167D0100000402167D0200000402167D030000042A5E02167D0300000402280A00000A000002177D030000042A9602167D0300000402280A00000A000002037D0100000402047D0200000402167D030000042A133005004C00000003000011000F00280B00000A178D0F00000125161F2C9D6F0C00000A0A068E6918FE0116FE010D092C06730D00000A7A06169A280E00000A0B06179A280E00000A0C0708730700000613042B0011042A13300200380000000400001100730F00000A0A06027B010000046F1000000A260672010000706F1100000A2606027B020000046F1000000A26066F1200000A0B2B00072A133001000C0000000500001100027B010000040A2B00062A260002037D010000042A0000133001000C0000000500001100027B020000040A2B00062A260002037D020000042A0000133003000E000000060000110002161628100000060A2B00062A00001330030018000000060000110002037B01000004037B0200000428100000060A2B00062A133003003A000000060000110003027B01000004596C230000000000000040281300000A04027B02000004596C230000000000000040281300000A58281400000A0A2B00062A000042534A4201000100000000000C00000076322E302E35303732370000000005006C00000044030000237E0000B00300008C02000023537472696E6773000000003C060000080000002355530044060000100000002347554944000000540600003001000023426C6F6200000000000000020000015717A2010900000000FA01330016000001000000130000000200000003000000100000000B000000020000001400000004000000060000000100000004000000060000000100000002000000000031010100000000000600BA0005020600DA00050206008A00F2010F00250200000A005302D1010A009E00D10106005A0261010A00740034020A000801D10106009C0114000600B70114000A00190134020600A90176020600C401610106009701610106002501610106008501610106000500610106002C016101000000000B00000000000100010001201000670200001D0001000100010087027D0001008A027D0001005901800050200000000096083F0183000100682000000000E6094E0188000100802000000000E6015F008C000100AE2000000000E601840092000200D820000000008618EC0106000300FE20000000008618EC01300003001621000000008618EC01980004003C210000000096007E009E000600942100000000C60023013F000700D8210000000086081E001F000700F021000000008608240001000700FC2100000000860839001F00080014220000000086083F000100080020220000000086006B00A50009003C220000000086006801A900090060220000000086002A00AF000A0000000100F00100000100840200000100480100000100860200000200890200000100510000000100020100000100020100000100750100000100860200000200890202002100020025000900EC0101001100EC0106001900EC010A003100EC011000510001001F0051004902230071007B0129005900840001005900840030003900EC0106006100F8003F008100610243008900EC01060091007E004A006900EC010600690064005500690064005B00390023013F00990082026900990071026F002E000B00C2002E001300CB002E001B00EA0043002300F30016001B0035004F00610065000200010000005C01B50000005A01BA0000002800BE0000004300BE0002000100030002000200050002000A00070001000B00070002000C00090001000D000900048000000000000000000000000000000000670200000200000000000000000000007400560000000000020000000000000000000000740045000000000000000052656164496E743332003C4D6F64756C653E0053797374656D2E494F006765745F58007365745F580044697374616E636546726F6D5859006765745F59007365745F590053797374656D2E446174610064617461006D73636F726C6962005265616400417070656E640044697374616E636500494E756C6C61626C650050617273650057726974650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465006765745F56616C75650076616C7565004942696E61727953657269616C697A650053716C537472696E6700546F537472696E67004D617468005765616B506F696E742E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C006649734E756C6C0053797374656D0044697374616E636546726F6D007046726F6D00546F426F6F6C65616E00417267756D656E74457863657074696F6E00436861720042696E61727952656164657200537472696E674275696C6465720042696E61727957726974657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C54797065730052656164427974657300466F726D6174004F626A6563740053706C6974005765616B506F696E7400537172740053797374656D2E5465787400506F770069780069790000032C00000000001C6A2D297F0ED54E9AA9C5ED1B2E659800042001010803200001052001011111052001011115040701120803070102032000080520011D0508060002021D050804200101020907051D0E08080212080320000E0620011D0E1D03040001080E05070212350E05200112350805200112350E030701080307010D0500020D0D0D0400010D0D08B77A5C561934E08902060802060204000012080320000205200101122905200101122D052002010808060001120811310320000D0520010D12080520020D0808040800120803280002032800080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000003C010002000000030054020D4973427974654F7264657265640054080B4D61784279746553697A650900000054020D497346697865644C656E67746801000000001035305A000000000200000070000000482A0000480C0000525344534DC50A309930A04DB58620223DCA5E2901000000443A5C4E65744658446576335C496E7465726D6564696174655C73756974657372635C7765616B706F696E742E637370726F6A5F313436393531383132305C6F626A635C616D6436345C5765616B506F696E742E70646200E02A00000000000000000000FA2A0000002000000000000000000000000000000000000000000000EC2A0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003C000E00010049006E007400650072006E0061006C004E0061006D00650000005700650061006B0050006F0069006E0074002E0064006C006C0000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000044000E0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000005700650061006B0050006F0069006E0074002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C0000000C3B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go
create assembly weakline from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103001135305A0000000000000000E00022200B013000000E00000006000000000000CE2D00000020000000400000000000100020000000020000040000000000000006000000000000000080000000020000000000000300408500001000001000000000100000100000000000001000000000000000000000007B2D00004F00000000400000A802000000000000000000000000000000000000006000000C000000F02C00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000D40D000000200000000E000000020000000000000000000000000000200000602E72737263000000A8020000004000000004000000100000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001400000000000000000000000000004000004200000000000000000000000000000000AF2D0000000000004800000002000500B42400003C0800000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773040000060A2B00062A133001000C0000000200001100027B030000040A2B00062A13300600600000000300001102730500000A7D0100000402730500000A7D0200000402167D0300000402280600000A0000027B01000004027B01000004027B02000004027B0200000416250C6F0700000A0008250B6F0800000A0007250A6F0700000A00066F0800000A002AB602730500000A7D0100000402730500000A7D0200000402167D0300000402280600000A000002177D030000042A0000133002006E0000000000000002730500000A7D0100000402730500000A7D0200000402167D0300000402280600000A0000027B01000004036F0900000A6F0800000A00027B01000004036F0A00000A6F0700000A00027B02000004046F0900000A6F0800000A00027B02000004046F0A00000A6F0700000A002A00001330030045000000000000000002730500000A7D01000004027B01000004036F0B00000A0002730500000A7D02000004027B02000004036F0B00000A000203176F0C00000A16280D00000A7D030000042AA600027B01000004036F0E00000A00027B02000004036F0E00000A0003027B030000046F0F00000A002A0013300300820000000400001100036F1000000A0B072C0A0002177D030000042B6C036F1100000A1F146AFE0116FE010C082C06731200000A7A036F1300000A0A027B010000040616281400000A6F0800000A00027B01000004061A281400000A6F0700000A00027B02000004061E281400000A6F0800000A00027B02000004061F0C281400000A6F0700000A002A000013300400C90000000500001100027B030000040D092C1F00036F1000000A130411042C0538AB00000000036F1500000A00389E0000001F108D120000010A027B010000046F0900000A281600000A0B0706166F1700000A00027B010000046F0A00000A281600000A0B07061A6F1700000A00027B020000046F0900000A281600000A0B07061E6F1700000A00027B020000046F0A00000A281600000A0B07061F0C6F1700000A00160C2B1403086A0608916F1800000A00081305110517580C08068E69FE04130611062DE003086A6F1900000A002A000000133005008800000006000011000F00281A00000A178D1400000125161F2C9D6F1B00000A0A068E691AFE0116FE010C082C06731200000A7A73030000060B077B0100000406169A281C00000A6F0800000A00077B0100000406179A281C00000A6F0700000A00077B0200000406189A281C00000A6F0800000A00077B0200000406199A281C00000A6F0700000A00070D2B00092A13300200420000000700001100731D00000A0A06027B010000046F1E00000A6F1F00000A260672010000706F1F00000A2606027B020000046F1E00000A6F1F00000A26066F1E00000A0B2B00072A000013300200170000000800001100027B02000004027B010000046F2000000A0A2B00062A00133001000C0000000900001100027B010000040A2B00062A133001000C0000000900001100027B020000040A2B00062A42534A4201000100000000000C00000076322E302E35303732370000000005006C00000080030000237E0000EC030000DC02000023537472696E677300000000C80600000800000023555300D0060000100000002347554944000000E00600005C01000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000001600000002000000030000000E00000008000000020000002000000004000000090000000100000004000000040000000100000003000000000037010100000000000600B1001C020600D1001C020600810009020F003C0200000A009402E8010A009500E80106009B0277010A0062004B020A00FE00E8010E00A80200000600B30112000600CE0112000A0074024B020A000F014B020600C001C2020600DB0177010600950177010600EF0077010600D30277010600AE01770106001B0177010600030077010000000009000000000001000100012010006C0000001D00010001000100BC02C40001005E00C40001005E01C80050200000000096084401CB000100682000000000E60953014E0001008020000000008618030206000100EC200000000086180302420001001C210000000086180302D0000200982100000000E6014E0029000400E92100000000E6017B003C00050014220000000086007D02D8000600A4220000000086006A02D80007007C230000000096007500DE000800102400000000C60019019000090060240000000086003001E50009008424000000008608B202E90009009C240000000086085300E9000900000001004D0100000100D00200000200D90200000100070200000100CE020000010040000000010040000000010040000200210002002500090003020100110003020600190003020A0031000302100051000302060039000302060051002E00010051002200010051001C00250051002800250051004E002900590060022F0081008B01350051007B003C0061007B004200690053014E006900220152008900030206006900F4005600810001005B0069006601060081008B026E009900A701740069006E017B0069002D0181007100F4009000A900A2029400B10075009B0079000302060039001901900079005B00A60051007E01B0002E000B00FC002E00130005012E001B002401430023002D0116001B001F00470062008600A000AC00B6000200010000006901EE0000005F01F3000000B602F70000005700F70002000100030002000200050002000D00070002000E0009000480000000000000000000000000000000006C000000020000000000000000000000BB00450000000000020000000000000000000000BB003400000000000000000000000000000000000000A802000000000000000000546F496E743332003C4D6F64756C653E0053797374656D2E494F006765745F58007365745F58006765745F59007365745F590053797374656D2E446174610064617461006D73636F726C69620052656164006765745F456E6400417070656E6400494E756C6C61626C65005765616B4C696E650050617273650057726974650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465006765745F56616C7565004942696E61727953657269616C697A650053716C537472696E6700546F537472696E67006765745F4C656E677468005365744C656E677468005765616B4C696E652E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C006649734E756C6C005365744E756C6C007365745F4974656D0053797374656D0044697374616E636546726F6D00546F426F6F6C65616E00417267756D656E74457863657074696F6E00436F7079546F00436861720042696E61727952656164657200537472696E674275696C6465720042696E61727957726974657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C5479706573005265616442797465730046696C6C42797465730053716C42797465730046696C6C46726F6D427974657300476574427974657300466F726D6174004F626A6563740053706C6974005765616B506F696E74006765745F53746172740073746172740053797374656D2E5465787400770069780041727261790069790000032C00000000002B62F9B32B2F1E4EADCDFA868546C061000420010108032000010520010111110520010111150407011208030701020507030808080320000805200101122D0520011D0508060002021D050805200101123104200101020607031D050202032000020320000A0420001D05060002081D05080B07071D051D0508020208020500011D050806200201124D08052002010A05042001010A0907041D0E12080212080320000E0620011D0E1D03040001080E050702123D0E052001123D0E0307010D0520010D1229040701122908B77A5C561934E0890306122902060204000012080720020112291229052001011235060001120811390320000D042000122904080012080328000204280012290801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000002B010002000000020054020D4973427974654F7264657265640054080B4D61784279746553697A6514000000000000000000001135305A00000000020000006F0000000C2D00000C0F0000525344537EE559BCA5981A45AA5875C930563E2F01000000443A5C4E65744658446576335C496E7465726D6564696174655C73756974657372635C7765616B6C696E652E637370726F6A5F5F313739383234393030375C6F626A635C616D6436345C5765616B4C696E652E70646200A32D00000000000000000000BD2D0000002000000000000000000000000000000000000000000000AF2D0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C000000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001001000000018000080000000000000000000000000000001000100000030000080000000000000000000000000000001000000000048000000584000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003A000D00010049006E007400650072006E0061006C004E0061006D00650000005700650061006B004C0069006E0065002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000042000D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000005700650061006B004C0069006E0065002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000D03D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go
create assembly weakcircle from
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103001235305A0000000000000000E00022200B013000000E000000060000000000006A2C0000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000152C00004F00000000400000B002000000000000000000000000000000000000006000000C000000882B00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000700C000000200000000E000000020000000000000000000000000000200000602E72737263000000B0020000004000000004000000100000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001400000000000000000000000000004000004200000000000000000000000000000000492C000000000000480000000200050068230000200800000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001000C00000001000011001773040000060A2B00062A133001000C0000000200001100027B030000040A2B00062AF202730500000A7D0100000402167D0300000402280600000A0000027B01000004166F0700000A00027B01000004166F0800000A0002167D020000042A8A02730500000A7D0100000402167D0300000402280600000A000002177D030000042AE60002730500000A7D01000004027B01000004036F0900000A0002036F0A00000A7D020000040203176F0B00000A16280C00000A7D030000042AA600027B01000004036F0D00000A0003027B020000046F0E00000A0003027B030000046F0F00000A002A13300300680000000300001100036F1000000A0B072C0A0002177D030000042B52036F1100000A1F0C6AFE0116FE010C082C06731200000A7A036F1300000A0A027B010000040616281400000A6F0700000A00027B01000004061A281400000A6F0800000A0002061E281400000A7D020000042A13300400A60000000400001100027B030000040D092C1C00036F1000000A130411042C05388800000000036F1500000A002B7E1F0C8D120000010A027B010000046F1600000A281700000A0B0706166F1800000A00027B010000046F1900000A281700000A0B07061A6F1800000A00027B02000004281700000A0B07061E6F1800000A00160C2B1403086A0608916F1A00000A00081305110517580C08068E69FE04130611062DE003086A6F1B00000A002A0000133005006E00000005000011000F00281C00000A178D1400000125161F2C9D6F1D00000A0A068E6919FE0116FE010C082C06731200000A7A73030000060B077B0100000406169A281E00000A6F0700000A00077B0100000406179A281E00000A6F0800000A000706189A281E00000A7D02000004070D2B00092A000013300200420000000600001100731F00000A0A06027B010000046F2000000A6F2100000A260672010000706F2100000A2606027C02000004282200000A6F2100000A26066F2000000A0B2B00072A0000133001000C0000000700001100027B010000040A2B00062A133001000C0000000800001100027B020000040A2B00062A42534A4201000100000000000C00000076322E302E35303732370000000005006C00000060030000237E0000CC030000E002000023537472696E677300000000AC0600000800000023555300B4060000100000002347554944000000C40600005C01000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000001600000002000000030000000C0000000600000002000000220000000400000008000000010000000400000004000000010000000300000000003F010100000000000600B9002B020600D9002B020600890018020F004B0200000A00AE02F7010A009D00F7010600B50281010A0068005A020A000601F7010E00C20200000600B0011C000600CB011C000A0083025A020A0017015A020600BD01CC020600EA0181010600920181010600F70081010600DA0281010600AB01810106002301810106000D008101000000001300000000000100010001201000720000001D00010001000100E301B80001005D00BC0001006801BF0050200000000096084E01C2000100682000000000E6095D01480001008020000000008618120206000100BD2000000000861812023C000100E02000000000E60158001F0002001A2100000000E60183003600030044210000000086008C02C7000400B8210000000086007902C70005006C220000000096007D00CD000600E82200000000C60021018A0007003823000000008608D801D40007005023000000008608A3022500070000000100570100000100160200000100D802000001004A00000001004A00000001004A000200210002002500090012020100110012020600190012020A0031001202100051001202060039001202060051002C000100510038000100510058001F0059000100250059006F022900810088012F00510083003600610083000100610083003C0069005D01480069002A014C008900120206006900FC00500081000B00550069007001060051002600250081009A0268009900A4016E00510032002500690078017500690035017B007100FC008A00A900BC028E00B1007D009500790012020600390021018A0079006100A000B10021018A002E000B00EB002E001300F4002E001B001301430023001C0116001B0041005C0080009A00A600AB000200010000007301D90000006901DE000000DC01E2000000A702E70002000100030002000200050002000B00070002000C00090004800000000000000000000000000000000072000000020000000000000000000000AF004F0000000000020000000000000000000000AF003E00000000000000000000000000000000000000C2020000000000000052656164496E74333200546F496E743332003C4D6F64756C653E0053797374656D2E494F006765745F58007365745F58006765745F59007365745F590053797374656D2E446174610064617461006D73636F726C696200526561640072616400417070656E6400494E756C6C61626C65005765616B436972636C650050617273650057726974650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465006765745F56616C7565004942696E61727953657269616C697A650053716C537472696E6700546F537472696E67006765745F4C656E677468005365744C656E677468005765616B436972636C652E646C6C006765745F4E756C6C00664E756C6C006765745F49734E756C6C006649734E756C6C005365744E756C6C007365745F4974656D0053797374656D00546F426F6F6C65616E00417267756D656E74457863657074696F6E00436F7079546F00436861720042696E61727952656164657200537472696E674275696C6465720042696E617279577269746572006765745F43656E7465720063656E74657200426974436F6E766572746572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C5479706573005265616442797465730046696C6C42797465730053716C42797465730046696C6C46726F6D4279746573004765744279746573006765745F52616469757300466F726D6174004F626A6563740053706C6974005765616B506F696E740053797374656D2E5465787400770041727261790000032C000000000032731D069C04DC4C944D50557785DC8F0004200101080320000105200101111105200101111504070112080307010205200101122D032000080520011D0508060002021D050805200101123104200101020607031D050202032000020320000A0420001D05060002081D05080B07071D051D0508020208020500011D050806200201124D08052002010A05042001010A0907041D0E12080212080320000E0620011D0E1D03040001080E050702123D0E052001123D0E04070112290307010808B77A5C561934E0890306122902060802060204000012080520010112350600011208113904200012290408001208032800020428001229032800080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000003C010002000000030054020D4973427974654F7264657265640054080B4D61784279746553697A650E00000054020D497346697865644C656E67746801000000000000001235305A000000000200000071000000A42B0000A40D000052534453F99C212E38B4B14980C9189A0F4C0A6901000000443A5C4E65744658446576335C496E7465726D6564696174655C73756974657372635C7765616B636972636C652E637370726F6A5F5F36393733363431375C6F626A635C616D6436345C5765616B436972636C652E706462003D2C00000000000000000000572C0000002000000000000000000000000000000000000000000000492C0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540200000000000000000000540234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4010000010053007400720069006E006700460069006C00650049006E0066006F0000009001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003E000F00010049006E007400650072006E0061006C004E0061006D00650000005700650061006B0043006900720063006C0065002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000046000F0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000005700650061006B0043006900720063006C0065002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C0000006C3C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go

create type Point external name shapes.[Point]
create type Line external name shapes.[Line]
create type Circle external name circle.[Circle]
create type Address external name address.[Address]
create type WeakPoint external name weakpoint.[WeakPoint]
create type WeakLine external name weakline.[WeakLine]
go

create type CustomerAddress as table( name nvarchar(30) NOT NULL, addr Address NULL )
go

create table cities (name sysname,location Point)
create table lines(ids int null, pos Line null)
create table customers(name nvarchar(30), address Address)
create table circles(num int, def Circle)
create table lines_weak(ids int, pos WeakLine)
go

insert into cities values('redmond',convert(Point,'3,4'))
insert into cities values('bellevue',convert(Point,'6,8'))
insert into cities values('seattle',convert(Point,'10,11'))

insert into lines values (1, CONVERT(Line,'1,2,3,4'))
insert into lines values (2, CONVERT(Line,'3,4,5,6'))
insert into lines values (3, CONVERT(Line,'11,23,15,32'))

insert into customers values('first', convert(Address, 'Address 1 | Address 2'))
insert into customers values('second', convert(Address, '123 Park Lane | New York'))
insert into customers values('third', convert(Address, '21 Forest grove | Portland'))

insert into circles values (1, CONVERT(Circle,'1,2,3'))
insert into circles values (2, CONVERT(Circle,'3,4,5'))
insert into circles values (3, CONVERT(Circle,'11,23,32'))

insert into lines_weak values (1, CONVERT(WeakLine,'1,2,3,4'))
insert into lines_weak values (2, CONVERT(WeakLine,'3,4,5,6'))
insert into lines_weak values (3, CONVERT(WeakLine,'11,23,15,32'))
go

create proc vicinity @boundary Point output
as
select name, location from cities where location.Distance() < @boundary.Distance()
go

create proc sp_insert_customer(@name nvarchar(30), @addr Address output)
as
insert into customers values (@name, @addr)
go

create proc sp_insert_customers(@customers CustomerAddress READONLY)
as
insert into customers(name,address) select name,addr from @customers
go

create assembly Utf8String from 
0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103000F35305A0000000000000000E00022200B0130000016000000060000000000006A350000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000173500004F00000000400000B002000000000000000000000000000000000000006000000C000000883400001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000070150000002000000016000000020000000000000000000000000000200000602E72737263000000B0020000004000000004000000180000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001C000000000000000000000000000040000042000000000000000000000000000000004B350000000000004800000002000500C0250000C80E00000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001002500000001000011000F00280600000A0A062C0828160000060B2B0F0F00280700000A73130000060B2B00072A000000133003006D00000002000011000228150000060A062C087E0800000A0B2B58027B0200000414FE030C082C0E027B02000004280900000A0B2B3D027B0100000414FE030D092C250002280A00000A027B010000046F0B00000A7D02000004027B02000004730C00000A0B2B0B7201000070730D00000A7A072A000000133002003500000003000011000F01280E00000A0A062C120002147D0200000402147D01000004002B1600020F01280F00000A7D0200000402147D01000004002A000000133003005F00000004000011000228150000060A062C04140B2B4E027B0100000414FE030C082C09027B010000040B2B38027B0200000414FE030D092C200002280A00000A027B020000046F1000000A7D01000004027B010000040B2B0B724F000070730D00000A7A072A00133001002300000005000011000228150000060A062C087E1100000A0B2B0E026F1200000A731300000A0B2B00072A00133003004D00000006000011000228150000060B072C087E1100000A0C2B38160A040D092C040617600A05130411042C040618600A0E04130511052C05061F10600A026F1200000A036F1400000A06731500000A0C2B00082A000000133006003F000000070000110003281600000A0A0614FE010B072C1F281700000A72B5000070178D07000001251603A2281800000A731900000A7A020604050E0428060000060C2B00082A001330050014000000080000110002281A00000A03040528060000060A2B00062A133002001000000003000011000203281200000616FE010A2B00062A133002000D000000030000110002036F1B00000A0A2B00062A000000133002001000000003000011000203280A00000616FE010A2B00062A1330020010000000030000110002036F1200000616FE040A2B00062A1330020010000000030000110002036F1200000616FE020A2B00062A133006006200000009000011000314280A0000060A062C04170B2B500228150000060C082C12036F150000060D092C04160B2B38150B2B34036F15000006130411042C04170B2B240204050E040E052806000006130512050304050E040E056F06000006281C00000A0B2B00072A000013300600410000000A0000110004281600000A0A0614FE010B072C1F281700000A72B5000070178D07000001251604A2281800000A731900000A7A020306050E040E05280E0000060C2B00082A00000013300600160000000B000011000203281A00000A04050E04280E0000060A2B00062A0000133001001F0000000C000011000228150000060A062C04160B2B0E026F1200000A6F1D00000A0B2B00072A0013300200710000000D000011000314FE010B072C04170C2B620375020000020A0614280A0000060D092C0B72ED000070731900000A7A022815000006130411042C1500066F15000006130511052C04160C2B28150C2B24066F15000006130611062C04170C2B14026F1200000A066F1200000A6F1E00000A0C2B00082A4202281F00000A000002037D010000042A4202281F00000A000002037D020000042A00133002001A0000000300001100027B010000042D0B027B0200000414FE012B01160A2B00062A0000133001000E0000000E000011001473130000060A060B2B00072A2602281F00000A00002A13300200430000000F000011000228150000062D03162B0117D20A03066F2000000A000617FE010C082C022B210228020000060D1203280F00000A0B03078E696F2100000A0003076F2200000A002A0013300300310000001000001100036F2300000A0A06175F16FE020C082C0A0002147D020000042B14036F2400000A0B0203076F2500000A7D020000042A00000042534A4201000100000000000C00000076322E302E35303732370000000005006C0000000C050000237E0000780500008804000023537472696E677300000000000A00004801000023555300480B0000100000002347554944000000580B00007003000023426C6F6200000000000000020000015717A2010900000000FA01330016000001000000180000000200000002000000190000002900000003000000250000000700000010000000010000000300000004000000010000000200000000007E0201000000000006006F01960306008F01960306003F0183030F00B60300000A00300446030A005301460306003704A1020A007A00C50306008400A1020A00C60146030A000102C5030A006304C5030A002C0146030A00500046030A004A00460306000A03C3020A001E04C5030600390326000600160326000600D7014A040600D802A10206002102A10206002303A1020600EE02A102000000001400000000000100010001201000E00161031D00010001000100F60108010100F6030B01502000000000960020010F0101008420000000008608DA03160102000021000000008608E8031B010200442100000000C600150220000300B021000000008600FF0121010300E0210000000081005F02260103003C22000000008600CE00300107008822000000008600580439010B00A82200000000C6001704A5000E00C4220000000096086D0441010F00E022000000009608790441011100FC22000000009608B702410113001823000000009608A802410115003423000000008100430249011700A423000000008600BA0054011C00F4230000000086009C005E012100182400000000C6006E0078002500442400000000E601000367012500C1240000000086187D0348002600D2240000000086187D0342002700E42400000000E60996021C0028000C250000000096088D026C01280026250000000086187D0306002800302500000000E601260171012800802500000000E601450077012900000001000B0200000100C001000001000D01000002001501000003005F00000004003302000001009000000002001501000003005F00000004003302000001001501000002005F00000003003302000001003F0200000100EB0100000200330300000100EB0100000200330300000100EB0100000200330300000100EB01000002003303000001003303000002000D01000003001501000004005F00000005003302000001003303000002009000000003001501000004005F00000005003302000001003303000002001501000003005F00000004003302000001003F0200000100C00100000100110400000100560400000100810302002100020025000200290009007D03010011007D03060019007D030A0031007D03100069007D030600590096021C005900B601200061009C022C0061003E043000A1000B003700A10008043C0061007D034200A9007D034800610096021C006100B6015100A1001E025D0059009C02690039001502200059007D03480081001D00780059007D037C008100A4008C008100E5009200B10030049700C1007D0348008100FA00920039001704A50059000003B40039006E007800B1000003D50039007D03060091002601EA009100260101009100260142009900AD01F5009900010078009900FE03F9002E000B008B012E00130094012E001B00B30143002300410380002B00BC01E0002B00040300012B002903160024004D00560063006D008400A000AA00BA00C100C500CA00DA00E100EF00020001000000EC037D0100009A02820100009C02860102000200030001000300030002001500050002001600070004800000030002000100010000000000000028020000020000000000000000000000FF003C0000000000020000000000000000000000FF0030000000000000000052656164496E743332006765745F55544638003C4D6F64756C653E006765745F4C4349440053797374656D2E494F0053797374656D2E44617461006D73636F726C696200526561640053797374656D446174614163636573734B696E640069676E6F72654E6F6E53706163650047657448617368436F646500494E756C6C61626C650049436F6D70617261626C650063756C747572654E616D6500436F6D7061726500437265617465537065636966696343756C7475726500436F6D706172655573696E6743756C7475726500476574536F72744B65795573696E6743756C74757265006765745F496E76617269616E7443756C74757265006765745F43757272656E7443756C747572650063756C747572650069676E6F7265436173650050617273650057726974650053716C4D6574686F644174747269627574650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465005265616442797465006765745F56616C75650076616C7565004942696E61727953657269616C697A6500456E636F64696E670055746638537472696E670075746638537472696E67006D5F537472696E6700546F53716C537472696E670073716C537472696E6700546F537472696E6700476574537472696E670075746638737472696E670069676E6F72655769647468006F626A00436F6D706172655573696E6743756C74757265496E7465726E616C00476574536F72744B65795573696E6743756C74757265496E7465726E616C0075746638737472696E672E646C6C006765745F4E756C6C006765745F49734E756C6C0053797374656D006F705F477265617465725468616E006F705F4C6573735468616E0053797374656D2E476C6F62616C697A6174696F6E004E6F74537570706F72746564457863657074696F6E00417267756D656E74457863657074696F6E00436F6D70617265546F0043756C74757265496E666F0042696E6172795265616465720049466F726D617450726F7669646572006F746865720042696E617279577269746572004D6963726F736F66742E53716C5365727665722E536572766572004D6963726F736F66742E53616D706C65732E53716C536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C5479706573006765745F557466384279746573007365745F557466384279746573006D5F42797465730052656164427974657300476574427974657300627974657300457175616C730053716C436F6D706172654F7074696F6E7300466F726D6174004F626A656374006F705F496D706C696369740053797374656D2E54657874007700476574536F72744B65790053716C42696E617279006F705F457175616C697479006F705F496E657175616C6974790000004D630061006E006E006F0074002000720065007400750072006E00200062007900740065007300200066006F007200200065006D00700074007900200069006E007300740061006E0063006500006564006F006E00740020006B006E006F007700200068006F007700200074006F002000720065007400750072006E00200073007400720069006E0067002000660072006F006D00200065006D00700074007900200069006E007300740061006E00630065000037430075006C00740075007200650020007B0030007D0020006E006F00740020007200650063006F0067006E0069007A00650064002E000057740068006500200061007200670075006D0065006E007400200074006F00200063006F006D00700061007200650020006900730020006E006F007400200061002000550074006600380053007400720069006E006700000000000EC59433DD025D47A6AE3D09E458D39500042001010803200001052001011111052001011115050702021208032000020320000E07070402113102020306113106000111311D0504000012510520011D050E052001011D05042001010E030701020420001D05060704020E02020520010E1D0505070202112D0306112D0A0706114502112D02020203200008072003010E081145070703124102112D05000112410E04000012410800030E125D0E1D1C040701112D042001021C0907060208020202112D05200108112D060703124102080307010804070202080A07071208020802020202042001080E06070212081208080704051D050211310420010105050703050802032000050520011D050808B77A5C561934E08902060E03061D050600011208112D0420001131052001011131042000112D092004112D1241020202082004112D0E020202072003112D02020207000202120812080A200508120812410202020920050812080E020202082004081208020202042001081C040000120805200101124905200101124D04280011310328000204080012080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730108010007010000000081460100040054020F497344657465726D696E697374696301540209497350726563697365015455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000240100020054020F497344657465726D696E69737469630154020949735072656369736501170100010054020F497344657465726D696E6973746963002B010002000000020054020D4973427974654F7264657265640154080B4D61784279746553697A65401F0000000000000000000F35305A000000000200000073000000A4340000A416000052534453F3CBC33915671D4B9EE0AEAF82371B5101000000443A5C4E65744658446576335C496E7465726D6564696174655C73756974657372635C75746638737472696E672E637370726F6A5F5F313733303533303137335C6F626A635C616D6436345C75746638737472696E672E706462003F3500000000000000000000593500000020000000000000000000000000000000000000000000004B350000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C000000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540200000000000000000000540234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100020003000100010002000300010001003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4010000010053007400720069006E006700460069006C00650049006E0066006F0000009001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000033002E0032002E0031002E00310000003E000F00010049006E007400650072006E0061006C004E0061006D0065000000750074006600380073007400720069006E0067002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000046000F0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000750074006600380073007400720069006E0067002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000033002E0032002E0031002E003100000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000033002E0032002E0031002E003100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C0000006C3500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
with permission_set = safe
go

create type Utf8String external name Utf8String.[Microsoft.Samples.SqlServer.Utf8String]
go

create table Testtable (udtstring Utf8String Primary Key)
go

insert into Testtable (udtstring) values (Convert(Utf8String, 'this'))
insert into Testtable (udtstring) values (Convert(Utf8String, 'is'))
insert into Testtable (udtstring) values (Convert(Utf8String, 'a'))
go

create procedure UDTTest @value Utf8String OUTPUT AS select @value = Convert(Utf8String, 'this is an outparam test');
go

create table TesttableNull (udtstring Utf8String null)
go

insert into TesttableNull (udtstring) values (Convert(Utf8String, 'this'))
insert into TesttableNull (udtstring) values (Convert(Utf8String, 'is'))
insert into TesttableNull (udtstring) values (Convert(Utf8String, 'a'))
go

PRINT N'Creation of UdtTestDb database complete.'
go


PRINT N'============================================================================='
GO
PRINT N'Finished executing Script'
GO
PRINT N'============================================================================='
GO