# editorconfig.org

# top-most EditorConfig file
root = false

[*.cs]

csharp_style_var_when_type_is_apparent = false:refactor
# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning

