<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SqlClientAuthenticationProviders" type="Microsoft.Data.SqlClient.SqlClientAuthenticationProviderConfigurationSection,Microsoft.Data.SqlClient" />
  </configSections>
  <SqlClientAuthenticationProviders applicationClientId="f3e3a0a0-1234-5678-9abc-def012345678">
    <providers>
      <add name="active directory interactive" type="Microsoft.Data.SqlClient.UnitTests.DummySqlAuthenticationProvider, UnitTests" />
    </providers>
  </SqlClientAuthenticationProviders>
</configuration>
