<?xml version="1.0" encoding="utf-8" ?>
<!-- Application configuration file is loaded by the compiler first before loading managed types. -->
<configuration>
  <configSections>
    <section name="SqlClientAuthenticationProviders" type="Microsoft.Data.SqlClient.SqlClientAuthenticationProviderConfigurationSection,Microsoft.Data.SqlClient" />
  </configSections>
  <!-- Custom authentication providers from app.config are loaded by the SqlAuthenticationProviderManager before registering default authentication provider. -->
  <SqlClientAuthenticationProviders>
    <providers>
      <add name="active directory interactive" type="Microsoft.Data.SqlClient.FunctionalTests.DataCommon.DummySqlAuthenticationProvider, FunctionalTests" />
    </providers>
  </SqlClientAuthenticationProviders>
</configuration>
